.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .directory-menu {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
